{% extends 'Resume/layout.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<section class="main_section">
	<div class="content">
		<div class="content_inner">
			<h1>Login</h1>
			{% if error %}
			<p>{{ error }}</p>
			{% endif %}
			<form action="{% url 'login' %}" method="post">
				{% csrf_token %}
				<table class="table_for_forms">
						<tr>
							<td class="first_col">
								<label for="username">Username</label>
							</td>
							<td class="second_col">	
								<input type="text" name="username" id="username" required>
							</td>
						</tr>
						<tr>
							<td class="first_col">		
								<label for="password">Password</label>
							</td>
							<td class="second_col">	
								<input type="password" name="password" id="password" required>
							</td>
						</tr>
						<tr>
						<td colspan="2" style="text-align: center;">	
							<input type="submit" id="login" name="login" value="Login">
						</td>
						</tr>
					</table>
			</form>

	</div></div>
	
</section> 

{% endblock %}