{% extends 'Resume/layout.html' %}

{% block title %}Resume details{% endblock %}

{% block content %}
<section class="main_section">
	<div class="content">
		<div class="content_inner">
			<div id="resume_page" class="resume_page">
			
			<div class="title">
				<h1>{{ resume.first_name }} {{ resume.last_name }}</h1>
				<h2>{{ resume.job_title }}</h2>
			</div>
			<br><br><br>
			<br>

			<div class="contacts">
				<div class="contacts_inner">
					<p>Email: {{ resume.email }}</p>
					<p>Phone number: {{ resume.phone }}</p>
				</div><br><br>
			</div>
			<div class="divider">			

				<div class="divider_inner">SUMMARY</div>
			</div>
			<div class="infoblock">
				<div class="infoblock_inner ">
					<p class="text-break">{{ resume.summary }}</p>
				</div>			

			</div>
			{% if experience %}
			<div class="divider">
				<div class="divider_inner">EXPERIENCE</div>
			</div>			

			{% for ex in experience %}
			<div class="infoblock">
				<div class="infoblock_inner">
					<h2>{{ ex.company_name }}</h2>
					<h2>{{ ex.position }}</h2>
					<p>{{ ex.start_date|date:'m.d.Y' }} - {{ ex.end_date|date:'m.d.Y' }}</p>
					<p class="text-break">{{ ex.description }}</p>
				</div>			

			</div>				
			{% endfor %}
			{% endif %}
			{% if education %}
			<div class="divider">
				<div class="divider_inner">EDUCATION</div>
			</div>			

			{% for ed in education %}
			<div class="infoblock">
				<div class="infoblock_inner">
					<h2>{{ ed.organization_name }}</h2>
					<h2>{{ ed.title }}</h2>
					<p>{{ ed.start_date|date:'m.d.Y' }} - {{ ed.end_date|date:'m.d.Y' }}</p>
					<p class="text-break">{{ ed.description }}</p>
				</div>			

			</div>				
			{% endfor %}
			{% endif %}
			</div>
	
	</div></div>
	<div class="addition_information">
		<div class="addition_information_inner">
			
			{% if safety %}
			<form id="edit_resume" action="{% url 'editresume' resume.id %}" method="POST">
				{% csrf_token %}
				<input type="submit" value="Edit resume" form="edit_resume">			
			</form>
			<form id="delete_resume" action="{% url 'deleteresume' resume.id %}" method="POST">
				{% csrf_token %}
				<input type="submit" value="Delete resume" form="delete_resume">			
			</form>
			

			{% endif %}
	</div></div>
</section> 

<script type="text/javascript">
	delete_resume.addEventListener('click', function(event){
	aa=confirm("Delete?");
	if (aa != true){
		event.preventDefault();
	}
	console.log(aa);
})

</script>

{% endblock %}