{% extends 'Resume/layout.html' %}

{% block title %}Sign up{% endblock %}

{% block content %}

<section class="main_section">
	<div class="content">
		<div class="content_inner">
			<h1>Sign up</h1>
			<br><br>
			{% if error %}
				<p>{{ error }}</p>
			{% endif %}
			<br><br>
			<form id="resume_form" action="{% url 'signup' %}" method="post">
				{% csrf_token %}
				<table class="table_for_forms">
					<tr>
						<td class="first_col">
							<label for="first_name">First name</label>
						</td>
						<td class="second_col">
							<input type="text" name="first_name" id="first_name" required>
						</td>
					</tr>
					<tr>
						<td class="first_col">
							<label for="last_name">Last name</label>
						</td>
						<td class="second_col">
							<input type="text" name="last_name" id="last_name" required>
						</td>
					</tr>
					<tr>
						<td class="first_col">
							<label for="new_username">Username</label>
						</td>
						<td class="second_col">
							<input type="text" name="new_username" id="new_username" required>
						</td>
					</tr>	
					<tr>
						<td class="first_col">
							<label for="email">E-mail</label>
						</td>
						<td class="second_col">
							<input type="text" name="email" id="email" required>
						</td>
					</tr>
					<tr>
						<td class="first_col">
							<label for="new_password">Password</label>
						</td>
						<td class="second_col">
							<input type="password" name="new_password" id="new_password" required>
						</td>
					</tr>	
					<tr>
						<td class="first_col">
							<label for="password">Repeate password</label>
						</td>
						<td class="second_col">
							<input type="password" name="passwordcheck" id="passwordcheck" required>
						</td>
					</tr>		
					<tr>
						<td class="first_col">
						</td>
						<td class="second_col">
							<input type="submit" value="Sign up">
						</td>
					</tr>													
				</table>		
				
			</form>
	</div></div>
	
</section> 
<script type="text/javascript">
new_password.addEventListener("change", Check);
passwordcheck.addEventListener("change", Check);

function Check() {
  if(new_password.value != passwordcheck.value){
    new_password.style.color="#ff0000";
	passwordcheck.style.color="#ff0000";
	}
	else{
    new_password.style.color="#202070";
	passwordcheck.style.color="#202070";		
	}
}
</script>

{% endblock %}